<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898581866887-9sia7ih55jp0mki6313g7rk3a2n1ngju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898581866887-9sia7ih55jp0mki6313g7rk3a2n1ngju</string>
	<key>API_KEY</key>
	<string>AIzaSyCTSh3y_QXj5XQH07zoqZO-R7ntAnlQ_0k</string>
	<key>GCM_SENDER_ID</key>
	<string>898581866887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.hansung.ac.kr.Kimsunghoon-Ios-programming-week-12</string>
	<key>PROJECT_ID</key>
	<string>iosprogramming-281ad</string>
	<key>STORAGE_BUCKET</key>
	<string>iosprogramming-281ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898581866887:ios:1b972aad8e35e1f65fcb22</string>
</dict>
</plist>